NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=_Morrison.1
DB_NAME=campus_tutoring

JWT_SECRET=e338426a51313082cc9ab96074aaba60a2b13d6c757f5b8ee2e8b31d76f3d56f55f3ed636554527461c2f8173720fb2ab1bd576406c93eeafe1a1c1fa556b6c7
JWT_REFRESH_SECRET=your-refresh-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SUPPORT_EMAIL=campustutorgh@gmail.com
